body {
    box-sizing: border-box;
    width: 900px;
    margin: auto;

  }
  .ulmain {
    display: flex;
    list-style: none;
    justify-content: flex-end;
    align-content: flex-start;
    align-items: center;
    margin-left: 575px;
    margin-top: -44px;
  }
  header {
    display: flex;
  }
.imglogo {
    float: left;
}
.plogo {
    margin-left: 55px;
    margin-top: -73px;

}
.plogo span {
  font-family: "Great Vibes", cursive;
  font-size: 30px;

}
header ul li {
    margin: 0 5px;
    justify-content: right;
     float: right;
}
.lineheader {
  width: 100%;
  height: 20px;
  background-image: url("../img/hr-img.png");
  background-repeat: repeat;
  margin-top: 20px;
}
.listCheckBox {
  display: flex;
  background-image: url("../img/list-bg.png");
  margin-bottom: 50px;
  margin-top: 40px;
  padding: 10px;
  box-shadow: 0px 7px 3px #ccc;
}
.leftCheckBox {
  width: 50%;
  font-family: "Kalam", cursive; 
}
.rightCheckBox {
  height: 50%;
  font-family: "Kalam", cursive;
}
#grid {
  display: grid;
  height: 100px;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 100px;
  margin-top: 30px;
}
#item2 {
  grid-column: 2 / 6;
  margin-left: -59px;
  margin-top: -21px;
}
#item3 {
  
  grid-column: span 1 / 7;
}
#item3 button {
  background-color:orangered;
  padding: 9px;
  color: white;
  border-color:papayawhip;
}
footer {
  margin: 50px 0;
  text-align: center;
  border-top: 5px solid #ccc;
  position: relative;
}

footer img {
  position: absolute;
  top: -19px;
  /* box-shadow: 7px 0px #fff, -7px 0 #fff; */
}

.footerp {
  margin-top: 39px;
}

footer p {
  color:darkgray;
}